div {
    border: 2px solid;
    width:350px;
    height:150px;
}
p {
    font-size: 15px;
    font-weight: bold;
    
}
img {
    width:100px;
    height:100px;
    border-radius: 50%; 
    border:2px solid;  
}
a{
    text-decoration:none;
}
